<div>
  <div class="row">
    <div class="col-sm-4">
      <label class="mr-2">Project:</label>
      <input disabled type="text" [(ngModel)]="projectName" 
        readonly placeholder="Project name" (ngModelChange)="onProjectChange($event)">
      <button class="btn-secondary" type="button" (click)="onSearchProject()">Search</button>
    </div>
    <label class="col-sm-2">Sort task by:</label>
    <button class="col-sm-1 btn btn-sm btn-secondary ml-1" (click)="sortBy('startDate')">Start date</button>
    <button class="col-sm-1 btn btn-sm btn-secondary ml-1" (click)="sortBy('endDate')">End date</button>
    <button class="col-sm-1 btn btn-sm btn-secondary ml-1" (click)="sortBy('priority')">Priority</button>
    <button class="col-sm-1 btn btn-sm btn-secondary ml-1" (click)="sortBy('isCompleted')">Completed</button>
  </div>

  <hr>

  <div *ngFor="let task of filteredTasks">
    <app-task-view-details [taskDetail]="task"></app-task-view-details>
    <hr>
  </div>

</div>