<div class="container">
    <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12"><br /></div>
      </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="project" >Project : </label>
    </div>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Project Name">
      <div *ngIf="addProjectForm.get('name').hasError('required')"  class="alert alert-danger">Project name is required</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-4"><input type="checkbox" id="enableStartAndEndDate" (change)="onEnableStartDate(false)"
          formControlName="enableStartAndEndDate">
        <label for="enableStartAndEndDate">Set Start and End Date</label></div>
        <div class="col-sm-4"><input type="date" id="startDate" formControlName="startDate" placeholder="startDate"></div>
        <div class="col-sm-4"><input type="date" id="endDate" formControlName="endDate" placeholder="endDate"></div>
      </div>      
      <div *ngIf="validDate === false" class="alert alert-danger">End date should be greater than start date</div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-2"><label for="priority" >Priority : </label></div>
    <div class="col-sm-9">
      <input type="range" class="form-control" formControlName="priority" min="0" max="30" step="1" id="priority">
      <span *ngIf="addProjectForm.get('priority').hasError('required')">This is required</span>
    </div>
    <div class="col-sm-1">{{addProjectForm.get('priority').value}}</div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-2">
      <label for="project" >Manager :</label>
    </div>
    <div class="col-sm-10">
      <div class="input-group">
        <select disabled class="form-control" formControlName="userId">
          <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}},{{user.lastName}}
          </option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="onSearchUser()">Search</button>
        </div>
      </div>
      <span *ngIf="addProjectForm.get('userId').hasError('required')">This is required</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="submit" *ngIf="!isUpdate" class="btn btn-primary p-2">Add</button>
      <button type="submit" *ngIf="isUpdate" class="btn btn-primary p-2">Edit</button>
      <button type="button" (click)="onReset()" class="btn btn-secondary p-2 ml-2">Reset</button>
    </div>
  </div>
</form>
</div>