<div>
  <div class="row">
    <div class="col-sm-10">
      <div class="row">
        <label>{{userDetails?.firstName}}</label>
      </div>
      <div class="row">
        <label>{{userDetails?.lastName}}</label>
      </div>
      <div class="row">
        <label>{{userDetails?.employeeId}}</label>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row">
        <a class="btn btn-secondary" [routerLink]="['/user-add', userDetails?.id]">
          Edit
        </a>
      </div>
      <div class="row">
        <button class="btn btn-secondary" (click)="onDeleteClick(userDetails?.id)">Delete</button>
      </div>
    </div>
  </div>
  <hr>
</div>